/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/packages
.DS_Store
.env
.env.backup
.php-cs-fixer.php
.phpunit.result.cache
.phpstorm.meta.php
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
supervisord.log
supervisord.pid
ray.php
horizon.log
.idea/
ray.php
.php-cs-fixer.cache
