<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            sans: ['Inter var', '--apple-system', 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', 'sans-serif'],
          },
        }
      }
    }
  </script>
</head>
<body>
<div class="">
  <div class="min-h-full">
    <div class="bg-indigo-600 pb-32">
      <header class="py-10">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-white">HNG Task Evaluator</h1>
        </div>
      </header>
    </div>

    <main class="-mt-32">
      <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">
        <div class="rounded-lg bg-white px-5 py-6 shadow sm:px-6">
          <form action="/evaluate" method="POST">
            <div class="h-96 rounded-lg border-4 border-dashed border-gray-200">
              <label for="urls" class="sr-only">URLs</label>
              <textarea rows="5" name="urls" id="urls"
                        class="block w-full h-full rounded-md border-0 border-none shadow-sm ring-0 focus:ring-0 sm:text-sm"
                        placeholder="Enter URLs to evaluate seperated by a new line..."></textarea>
            </div>
            <button type="submit"
                    class="mt-4 inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
              Evaluate
            </button>
          </form>

        </div>
      </div>
    </main>
  </div>

</div>
</body>
</html>
